@use "variables" as v;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
%center{
    display: grid;
    place-items: center;
}
body{
    font-family: "DM sans",sans-serif;
}
button,input{
font-family: inherit;
}
main{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    @extend %center;
    background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
    
}
.heading{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.heading::before{
    content: "X";
    position: absolute;
    left: -2rem;
    color: red;

}
.heading::after{
    content: "O";
    position: absolute;
    right: -2rem;
    color: red;
}
.player-status{
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
}
.current-player{
    color: red;
    font-weight: 500;
    

}
.game{
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 1/1;
    display: grid;
    border: 1px solid whitesmoke;
    grid-template-columns: repeat(3,1fr);
    border-radius: 35px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.box{
    border: 1px solid whitesmoke;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    font-size: 2rem;
    cursor: pointer;
    @extend %center
    
}
.box:nth-child(2n){
    border: 1px solid whitesmoke;
}
.reset-btn{
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    border: 1px solid whitesmoke;
    cursor: pointer;
}